.section {
  background-color: #c4c4c4;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.titulos {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  align-items: center;
  border-top: 9px solid #000;
  flex-wrap: wrap;
}

.titulos h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #000 !important;
}
.estudos {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.estudos-cursos-lista {
  display: grid;
  gap: 1rem;
}
.estudos-cursos-lista li:nth-child(odd) {
  background-color: #1b1d20;
  border-radius: 4px;
  padding: 1.25rem;
}
.estudos-cursos-lista li:nth-child(even) {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.25rem;
}
.estudos-cursos-lista li:nth-child(even) h3,
.estudos-cursos-lista li:nth-child(even) p {
  color: black;
}
.estudos-cursos-lista-item {
  display: grid;
}
.estudos-cursos-lista-item:hover {
  border-left: 10px solid #37d0de;
}
.estudos-cursos-lista-item p {
  color: #37d0de;
}
.estudos-cursos-lista-item h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: Arial;
  padding-bottom: 0.6rem;
}
.estudos-informacoes-lista li:nth-child(odd) {
  background-color: #1b1d20;
  border-radius: 4px;
  padding: 1.25rem;
}
.estudos-informacoes-lista {
  display: grid;
}
.estudos-informacoes-lista-item p {
  color: #37d0de;
}
.estudos-informacoes-lista-item h3 {
  text-transform: uppercase;
  padding-bottom: 0.6rem;
}

.titulo-mobile {
  display: none;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .titulos {
    padding: 2rem;
  }
  .titulos h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .titulos {
    padding: 1rem;
    justify-content: center;
  }
  .titulos h2 {
    font-size: 2rem;
  }
  .estudos {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .estudos-cursos-lista-item h3,
  .estudos-informacoes-lista-item h3 {
    font-size: 1rem;
    word-break: break-all;
  }
  .estudos-cursos-lista-item p,
  .estudos-informacoes-lista-item p {
    font-size: 0.875rem;
  }

  .titulo-desktop {
    display: none;
  }
  .titulo-mobile {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
    color: #000 !important;
  }
}
