.introducao {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b1d20;
  border-radius: 4px;
  display: grid;
  gap: 5rem;
  padding: 3rem 2rem;
}
.titulo {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.titulo::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}
.mb {
  margin-bottom: 2rem;
}
.circulo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.circulo::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: #52f1ff;
}
i {
  font-size: 2rem;
  background-color: blue;
}

.introducao p {
  display: none;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #a1a1a1;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + p {
  display: block;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .introducao {
    padding: 1rem;
    gap: 2rem;
  }
  .titulo {
    font-size: 2rem;
  }
  main {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .introducao {
    padding: 1rem;
    gap: 2rem;
  }
  .titulo {
    font-size: 1.5rem;
  }
  label {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }
  main {
    margin-bottom: 2rem;
  }
}
